name: build-and-deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main    
jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set Versions
        run: |
          nodejs_version=`grep nodejs .tool-versions | awk '{print $2}'`
          echo "NODEJS_VERSION=${nodejs_version}" >> $GITHUB_ENV
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm test
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  build-and-deploy:
    needs: test
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set Versions
        run: |
          sam_cli_version=`grep aws-sam-cli .tool-versions | awk '{print $2}'`
          echo "SAM_CLI_VERSION=${sam_cli_version}" >> $GITHUB_ENV
          nodejs_version=`grep nodejs .tool-versions | awk '{print $2}'`
          echo "NODEJS_VERSION=${nodejs_version}" >> $GITHUB_ENV
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODEJS_VERSION }}
      - uses: aws-actions/setup-sam@v2
        with:
          use-installer: true
          version: ${{ env.SAM_CLI_VERSION }}
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Configure AWS Credentials
        if: startsWith(github.ref, 'refs/heads/main')
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-northeast-1
          role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE }}
          role-duration-seconds: 1200
          role-session-name: SlackIncomingWebHookApp
      - name: Deploy
        if: startsWith(github.ref, 'refs/heads/main')
        env:
          AWS_SAM_BUCKET_NAME: ${{ secrets.AWS_SAM_BUCKET_NAME }}
        run: sam deploy --stack-name SlackIncomingWebHookAppProd --s3-bucket $AWS_SAM_BUCKET_NAME --s3-prefix SlackIncomingWebHookAppProd --capabilities CAPABILITY_IAM --parameter-overrides "Stage=Prod MessageIdTableName=SlackIncomingMessageIdTableProd" --no-fail-on-empty-changeset
